main {
  position: relative;
  width: 75%;
  float: right;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .mainbody-container {
    flex-basis: 80%;
    margin: auto;
    height: 100%;
    padding: 20% 5%;
  }
}

@media (max-width: 768px) {
  main {
    width: 100%;
  }
}
