.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 !important;
  margin-bottom: 20px;
  .history-card {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding: 12px 30px;

    .history-card-content {
      box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      max-width: 100%;
      padding: 1rem;
      position: relative;

      .title-container,
      .company-container,
      .project-container {
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
        width: 100%;
        text-align: left;
        align-items: center;
        h5,
        h4 {
          margin: 0;
          margin-right: 12px;
        }
      }

      .title-container {
        time {
          font-size: 1rem;
          color: white;
          background: #97a2cad6;
          padding: 0 5px;
          border-radius: 2px;
        }
      }

      .company-container {
        justify-content: flex-end;
        h5 {
          font-size: 15px;
        }
      }
      .project-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        h5 {
          margin-bottom: 12px;
        }
      }

      .circle {
        position: absolute;
        width: 20px;
        height: 20px;
        background: cadetblue;
        border-radius: 50%;
        z-index: 10;
        border: 3px solid snow;
        top: calc(50% - 8px);
        right: -40px;
      }
    }

    .history-card-content::after {
      content: " ";
      background-color: #fff;
      box-shadow: 2px -2px 3px rgba(0, 0, 0, 0.2);
      position: absolute;
      right: -7.5px;
      top: calc(50% - 7.5px);
      transform: rotate(45deg);
      width: 15px;
      height: 15px;
    }
  }

  .history-card:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;

    .history-card-content {
      box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
      align-items: flex-start;

      .company-container {
        justify-content: flex-start;
      }

      .project-container {
        align-items: flex-start;
      }

      .circle {
        left: -40px;
      }
    }
    .history-card-content::after {
      right: auto;
      left: -7.5px;
      box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
    }
  }
}

.timeline-container::after {
  position: absolute;
  background-color: #e17b77;
  content: "";
  width: 0.2rem;
  height: 100%;
  left: calc(50% - 2px);
}

@media (min-width: 1440px) {
  .history-card-content {
    width: 650px;
    min-width: 75%;
  }
}

@media only screen and (max-width: 1023px) {
  .history-card-content {
    max-width: 100%;
  }
}
