.portfolio-container {
  display: flex;
  position: relative;
}

main {
  width: 75%;
  float: right;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .main-body {
    height: 75%;
    padding: 5% 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  main {
    width: 100%;
  }
}
