.portfolio-container {
  display: flex;
  position: relative;
  letter-spacing: 1px;
}

main {
  width: 75%;
  float: right;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .main-body {
    height: 75%;
    padding: 2% 0;
    text-align: center;
    overflow-y: auto;

    .heading {
      margin-bottom: 4rem;
      padding: 0 3.6rem;
      text-align: left;
    }
  }
}

@media (max-width: 768px) {
  main {
    width: 100%;
  }
}
