.portfolio-container {
  display: flex;
  position: relative;
  letter-spacing: 1px;
}

main {
  width: -webkit-fill-available;
  float: right;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // background: rgb(112, 67, 130);

  .main-body {
    height: 75%;
    // padding: 2% 0;
    text-align: center;
    overflow-y: auto;

    .heading {
      margin-bottom: 1rem;
      padding: 0 3.6rem;
      text-align: left;
      line-height: 32px;
      letter-spacing: 1px;
      h3 {
        font-size: 1.8rem;
        margin: 16px 0;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    width: 100%;
  }
}
