.header {
  height: 15%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  button {
    height: 32px;
    width: 100px;
    border: 0.01rem solid black;
    border-radius: 5%;
    background: #e1f131;
    cursor: pointer;
  }
}
