.sidebar-container {
  position: absolute;
  max-width: 45%;
  transform: translate(-150%);
  z-index: 5;
  background: #a283f0;
  height: 100vh;
  transition: transform 0.2s ease-in-out;

  .closeButton {
    position: absolute;
    font-size: 1.3rem;
    background: none;
    border: none;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  .left-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5% 0;

    .photo-container {
      flex-basis: 40%;
      height: 100%;
      max-width: 140px;
      width: 135px;
      margin: auto;
      padding: 2.5rem 0;

      section {
        height: 100%;
        border-radius: 5rem;
        background-image: url("../../assets/profilePic.png");
        background-size: cover;
      }
    }
  }
}

.open {
  width: 50%;
  transform: translate(0);
}
// @media (min-width: 1440px) {
//   .sidebar-container .left-menu .photo-container {
//     flex-basis: 30%;
//     max-width: 180px;
//     width: 185px;
//   }
// }

@media (min-width: 769px) {
  .sidebar-container .left-menu .photo-container {
    flex-basis: 28%;
    max-width: 200px;
    width: 200px;
    padding: 2.5rem 1rem;
  }
}

@media (min-width: 1440px) {
  .sidebar-container {
    position: unset;
    width: 18%;
    transform: translate(0);

    .closeButton {
      visibility: hidden;
    }
  }
}

@media (min-width: 1024px) {
  .sidebar-container {
    position: unset;
    width: 25%;
    transform: translate(0);

    .closeButton {
      visibility: hidden;
    }
  }
}

@media (max-width: 768px) {
  .sidebar-container .left-menu .photo-container {
    flex-basis: 30%;
    max-width: 180px;
    width: 185px;
  }
}

@media (max-height: 869px) {
  .sidebar-container .left-menu .photo-container {
    width: 160px;
    flex-basis: 50%;
  }
}

@media (max-width: 500px) {
  .sidebar-container .left-menu {
    padding: 30% 0;
    .photo-container {
      padding: 2.5rem 0;
      flex-basis: 27%;
      max-width: 135px;
      width: 130px;
      margin: 0 auto;
    }
    .nav-container {
      flex-basis: 25%;
      a {
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media (max-height: 750px) {
  .sidebar-container .left-menu .photo-container {
    width: 140px;
    flex-basis: 55%;
  }
}
@media (max-height: 538px) {
  .sidebar-container .left-menu .photo-container {
    display: none;
    flex-basis: 45%;
    width: 125px;
    height: 116px;
    padding: 5px 0;
  }
}
