.sidebar-container {
  position: absolute;
  max-width: 30%;
  transform: translate(-150%);
  z-index: 5;
  background: #a283f0;
  height: 100vh;
  transition: transform 0.2s ease-in-out;

  .closeButton {
    position: absolute;
    width: 10%;
    font-size: 1.3rem;
    background: none;
    border: none;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  .left-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30% 0;

    .photo-container {
      flex-basis: 30%;
      height: 100%;
      max-width: 140px;
      width: 135px;
      margin: auto;
      padding: 40px 0;

      section {
        height: 100%;
        border: 2px solid white;
        border-radius: 10px;
      }
    }
  }
}

.open {
  width: 25%;
  transform: translate(0);
}

@media (min-width: 1024px) {
  .sidebar-container {
    position: unset;
    width: 25%;
    transform: translate(0);

    .closeButton {
      visibility: hidden;
    }
  }
}

@media (max-width: 425px) {
  .photo-container {
    display: none;
  }
}
