* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Cinzel", serif;
  font-family: "Red Hat Display", sans-serif;
  overflow: hidden;
  a {
    text-decoration: none;
    color: inherit;
  }
}
